<p>others works!</p>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>   
</head>
<body>
  <h1>WELLCOME TO AMAZON</h1>
  <div class="row">
    <div class="column">
      <p>DARK CHOCOLATE(300(100gm))</p>
      <img src="../../assets/chocolates.jpg" alt="Snow" class="DARK" style="width:500px" height="530px">
    </div>
    <br>
    <div class="column">
      <p>CHOCOLATE(4000)</p>
      <img src="../../assets/chocolates1.jpg" alt="Snow" class="CHOCOLATE" style="width:500px" height="550px">
    </div>
    <br>
    <div class="column">
      <p>DAIRY MILK(300)</p>
      <img src="../../assets/chocolates2.jpg" alt="Snow" class="DAIRY" style="width:500px" height="550px">
    </div>
    <br>
    <div class="column"> 
      <p>CHOCOLATES(200RS(1L)</p>
      <img src="../../assets/chocolates4.jpg" alt="Snow" class="CHOCOLATE" style="width:450px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>FANTA(9,500)</p>
      <img src="../../assets/cooldrink5 (1).jpg" alt="Snow"  class="FANTA"style="width:500px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>PPE KIT(9,500)</p>
      <img src="../../assets/ppe.jpg" alt="Snow" class="PPE" style="width:500px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>FANTA(300RS(250G))</p>
      <img src="../../assets/cooldrink.jpg" alt="Snow" class="FANTA" style="width:450px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>MIRINDA(400RS(1L)</p>
      <img src="../../assets/cooldrink1.jpg" alt="Snow" class="MIRINDA" style="width:450px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>SPRITE(1000)</p>
      <img src="../../assets/cooldrink3.jpg" alt="Snow" class="SPRITE" style="width:500px" height="500px">
    </div>
  </div>  
</body>
</html>