<p>fashion works!</p>

<h1>WELLCOME TO FASHION PAGE</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>   
</head>
<body>
  <h1>WELLCOME TO AMAZON</h1>
  <h2>fresh products</h2>
  <div class="row">
    <div class="column">
      <p>Saree(40,000/50% discount)</p>
      <img src="../../assets/saree.jpg" alt="Snow" class="saree" style="width:450px">
    </div>
    <div class="column">
      <p>Saree(30,000/40%)</p>
      <img src="../../assets/saree2.jpg" alt="Snow" class="saree" style="width:500px">
    </div>
    <div class="column">
      <p>Saree(20,000/20%)</p>
      <img src="../../assets/saree5.jpg" alt="Snow" class="saree" style="width:500px">
    </div>
    <div class="column"> 
      <p>Fashion ethenic wear(Balack)30,000/20% discount)</p>
      <img src="../../assets/fashion 1.jpg" alt="Snow" class="fashion" style="width:450px">
    </div>
    <div class="column">
      <p>Fashion ethenic wear(Red)(40,000/50%)</p>
      <img src="../../assets/fashion2.jpg" alt="Snow"  class="fashion red"style="width:500px">
    </div>
    <div class="column">
      <p>Fashion white party dress(semi stiched)(9,000/10%off)</p>
      <img src="../../assets/fashion3.jpg" alt="Snow" class="Fashion" style="width:350px">
    </div>
    <div class="column">
      <p>Summeer Fashion(20,000/50%off)</p>
      <img src="../../assets/fashion4.jpg" alt="Snow" class="fashion" style="width:450px">
    </div>
    <div class="column">
      <p> Bridal frock Fashion(30,000/10%off)</p>
      <img src="../../assets/fashion bridal.jpg" alt="Snow" class="fashion" style="width:450px">
    </div>
    <div class="column">
      <p>Designer Saree40,000/20% discount)</p>
      <img src="../../assets/saree3.jpg" alt="Snow" class="saree" style="width:450px">
    </div>
  </div>  
</body>
</html>