<p>electronics works!</p>
{{names}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>   
</head>
<body>
  <h1>WELLCOME TO AMAZON</h1>
  <h2>Electronics products</h2>
  <div class="row">
    <div class="column">
      <p>Ganga mixer(9,500)</p>
      <img src="../../assets/mixer.jpg" alt="Snow" class="Ganga" style="width:450px">
    </div>
    <br>
    <div class="column">
      <p>Lenova(30,000)</p>
      <img src="../../assets/laptop (1).jpg" alt="Snow" class="Lenova" style="width:500px" height="550px">
    </div>
    <br>
    <div class="column">
      <p>DELL(40,000)</p>
      <img src="../../assets/laptop2.jpg" alt="Snow" class="DELL" style="width:500px" height="550px">
    </div>
    <br>
    <div class="column"> 
      <p>HP(35,000)</p>
      <img src="../../assets/laptop3.jpg" alt="Snow" class="HP" style="width:450px">
    </div>
    <br>
    <div class="column">
      <p>TOSHIBA(200RS(1)</p>
      <img src="../../assets/laptop4.jpg" alt="Snow"  class="TOSHIBA"style="width:500px">
    </div>
    <br>
    <div class="column">
      <p>ACER(300RS(259g)</p>
      <img src="../../assets/laptop5.jpg" alt="Snow" class="ACER" style="width:500px" height="400px">
    </div>
    <br>
    <div class="column">
      <p>(400RS(1Kg)</p>
      <img src="../../assets/laptop6.jpg" alt="Snow" class="400RS" style="width:450px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>FREETHI(400RS(1Kg)</p>
      <img src="../../assets/mixer grainder.jpg" alt="Snow" class="FREETHI" style="width:450px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>DELL(90,500)</p>
      <img src="../../assets/mixer (1).jpg" alt="Snow" class="saree" style="width:500px" height="500px">
    </div>
  </div>  
</body>
</html>