<p>mobiles works!</p>


<h1>WELLCOME TO AMAZON</h1>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>   
</head>
<body>
  <div class="row">
    <div class="column">
      <p>Redmi note-10</p>
      <img src="../../assets/redmi.jpg" alt="Snow" class="redmi" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>OOpo mabile</p>
      <img src="../../assets/oopo2.jpg" alt="Snow" class="OOPO mobile" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Blackberry mobile</p>
      <img src="../../assets/OIP.jpg" alt="Snow" class="black berry mobile" style="width:500px" height="500px">
    </div>
    <div class="column"> 
      <p>BlackBerry</p>
      <img src="../../assets/OIP (1).jpg" alt="Snow" class="Blackberry" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>BlackBerry Mobile</p>
      <img src="../../assets/OIP (2).jpg" alt="Snow" class="Black berry mobile" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>samsung mobile</p>
      <img src="../../assets/OIP (3).jpg" alt="Snow" class="samsung mobile" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>samsung mobile</p>
      <img src="../../assets/sumsung mobile.jpg" alt="Snow" class="samsung mobile" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>samsung mobile</p>
      <img src="../../assets/OIP (4).jpg" alt="Snow" class="samsung mobile" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Realme</p>
      <img src="../../assets/realme.jpg" alt="Snow" class="Realme" style="width:500px" height="500px">
    </div>
  </div>  
</body>
</html>