<p>appliances works!</p>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>   
</head>
<body>
  <h1>WELLCOME TO AMAZON</h1>
  <div class="row">
    <div class="column">
      <p>Samsung Fridge(60,000)</p>
      <img src="../../assets/fridge.jpg" alt="Snow" class="Samsung" style="width:500px" height="530px">
    </div>
    <br>
    <div class="column">
      <p>Kitchen appliance @LG(1,40,000)</p>
      <img src="../../assets/e lg.jpg" alt="Snow" class="Kitchen" style="width:500px" height="550px">
    </div>
    <br>
    <div class="column">
      <p>HP(35,000)</p>
      <img src="../../assets/laptop3 (1).jpg" alt="Snow" class="HP" style="width:500px" height="550px">
    </div>
    <br>
    <div class="column"> 
      <p>TOSHIBA(20,000)</p>
      <img src="../../assets/laptop4 (2).jpg" alt="Snow" class="TOSHIBA" style="width:450px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>ACER(30,000)</p>
      <img src="../../assets/laptop5 (1).jpg" alt="Snow"  class="ACER"style="width:500px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>DELL(40,000)</p>
      <img src="../../assets/laptop6 (1).jpg" alt="Snow" class="DELL" style="width:500px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>FREETHI(10,000)</p>
      <img src="../../assets/mixer grainder (1).jpg" alt="Snow" class="FREETHI" style="width:450px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>GANGA(9,500)</p>
      <img src="../../assets/mixer (2).jpg" alt="Snow" class="GANGA" style="width:450px" height="500px">
    </div>
    <br>
    <div class="column">
      <p>GANGA(9,500)</p>
      <img src="../../assets/mixer (3).jpg" alt="Snow" class="GANGA" style="width:500px" height="500px">
    </div>
  </div>  
</body>
</html>