<p>fresh works!</p>

{{names}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>   
</head>
<body>
  <h1>WELLCOME TO AMAZON</h1>
  <h2>fresh products</h2>
  <div class="row">
    <div class="column">
      <p>Banana</p>
      <img src="../../assets/banana jpg.webp" alt="Snow" class="Banana" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Broccoli</p>
      <img src="../../assets/Broccoli.jpg" alt="Snow" class="Broccoli" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Cabbage</p>
      <img src="../../assets/cabbage jpg.jpg" alt="Snow" class="Cabbage" style="width:500px" height="500px">
    </div>
    <div class="column"> 
      <p>Cauliflower</p>
      <img src="../../assets/cauliflower jpg.jpg" alt="Snow" class="Cauliflower" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>cucumber</p>
      <img src="../../assets/cucumber.jpg" alt="Snow" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Spinach</p>
      <img src="../../assets/spinach jpg.jpg" alt="Snow" class="Spinach" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Cabbage</p>
      <img src="../../assets/cabbage jpg.jpg" alt="Snow" class="Cabbage" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Tamato</p>
      <img src="../../assets/tamato jpg.jpg" alt="Snow" class="Cauliflower" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Carrat</p>
      <img src="../../assets/carrat jpg.jpg" alt="Snow" class="carrat" style="width:500px" height="500px">
    </div>
  </div>  
</body>
</html>