
div{
    text-align: center;
    color: azure;
    background-color: blueviolet;
}
h1{
    text-align: center;
    color: cyan;
    background-color: darkmagenta;
}
h2{
    text-align: center;
    color: deeppink;
    background-color: darkred;
}
body{
    background-color: coral;
}