<p>home works!</p>



<h1>WELLCOME TO AMAZON</h1>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>   
</head>
<body>
  <div class="row">
    <div class="column">
      <p>Fashion</p>
      <img src="../../assets/saree.jpg" alt="Snow" class="Fashion" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>fresh</p>
      <img src="../../assets/saffron (1).jpg" alt="Snow" class="fresh" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Mobiles</p>
      <img src="../../assets/mobiles.jpg" alt="Snow" class="mobiles" style="width:500px" height="500px">
    </div>
    <div class="column"> 
      <p>Pantry</p>
      <img src="../../assets/bread.jpg" alt="Snow" class="pantry" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Electronics</p>
      <img src="../../assets/laptop.jpg" alt="Snow" class="Electronics" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Essential</p>
      <img src="../../assets/essentials (1).jpg" alt="Snow" class="Essential" style="width:500px" height="500px">
    </div>
  </div>  
</body>
</html>