<p>pantry works!</p>


<h1>WELLCOME TO AMAZON</h1>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>   
</head>
<body>
  <div class="row">
    <div class="column">
      <p>Spices</p>
      <img src="../../assets/spices1.jpg" alt="Snow" class="spices" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Wheat</p>
      <img src="../../assets/wheat.jpg" alt="Snow" class="Wheat" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Oats</p>
      <img src="../../assets/oats.jpg" alt="Snow" class="Oats" style="width:500pxpx" height="500px">
    </div>
    <div class="column"> 
      <p>Pasta</p>
      <img src="../../assets/pasta.jpg" alt="Snow" class="Pasta" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Brown Rice</p>
      <img src="../../assets/brown rice.jpg" alt="Snow" class="Brown Rice" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Meat</p>
      <img src="../../assets/meat jpg.jpg" alt="Snow" class="Meat" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Garlic Paste</p>
      <img src="../../assets/garlic jpg.jpg" alt="Snow" class="Garlic paste" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Brown Rice</p>
      <img src="../../assets/brown2.jpg" alt="Snow" class="Brown Rice" style="width:500px" height="500px">
    </div>
    <div class="column">
      <p>Spices</p>
      <img src="../../assets/spices1 (1).jpg" alt="Snow" class="Spices" style="width:500px" height="500px">
    </div>
  </div>  
</body>
</html>